# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Secrets
secret.key
.env

# Generated reports
BACKEND/Reports/*
BACKEND/Archive/*

# Uploaded files
BACKEND/uploads/*
uploads/