{% extends "layout.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">

{% endblock %}

{% block title %}
Calendar
{% endblock %}

{% block content %}

        <div class="app-content-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0">Calendar</h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Calendar</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="app-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="mb-3 d-flex justify-content-center gap-2">
                    <span class="badge">🟡 Scheduled</span>
                    <span class="badge">🟢 Sent</span>
                    <span class="badge">🔴 Failed</span>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      Email Calendar
                    </h3>
                  </div>
                  <div class="card-body">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Email Details Modal -->
        <div class="modal fade" id="emailModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">
                  Email Details
                </h5>

                <button
                  type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="modal">
                </button>
              </div>

              <div class="modal-body">

                <table class="table table-borderless mb-0">

                  <tr>
                    <th width="35%">Subject</th>
                    <td id="modal-subject"></td>
                  </tr>

                  <tr>
                    <th>Recipient</th>
                    <td id="modal-recipient"></td>
                  </tr>

                  <tr>
                    <th>Status</th>
                    <td id="modal-status"></td>
                  </tr>

                  <tr>
                    <th>Date</th>
                    <td id="modal-date"></td>
                  </tr>

                  <tr>
                    <th>Time</th>
                    <td id="modal-time"></td>
                  </tr>

                  <tr>
                    <th>Error</th>
                    <td id="modal-error"></td>
                  </tr>

                </table>

              </div>

              <div class="modal-footer">
                <button
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
                  Close
                </button>
              </div>

            </div>
          </div>
        </div>
      </main>
      
<script
src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js">
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const calendarEl = document.getElementById('calendar');

  const calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',

    eventSources: [
      {
        url: "http://127.0.0.1:8000/calendar/events",
        cache: false
      }
    ],

    headerToolbar: {
      start: 'prev,next today',
      center: 'title',
      end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
    },

    height: "auto",
    contentHeight: "750",
        
    eventClick: function(info) {
        const event = info.event;

        document.getElementById("modal-subject").innerText =
            event.title;

        document.getElementById("modal-recipient").innerText =
            event.extendedProps.recipient;

        let badge = "";

        if (event.extendedProps.status === "Pending") {
            badge =
            `<span class="badge">
                🟡 Scheduled
            </span>`;
        }

        else if (event.extendedProps.status === "Sent") {
            badge =
            `<span class="badge">
                🟢 Sent
            </span>`;
        }

        else {
            badge =
            `<span class="badge">
                🔴 Failed
            </span>`;
        }

        document.getElementById("modal-status").innerHTML = badge;

        document.getElementById("modal-date").innerText =
            event.start.toLocaleDateString("en-GB");

        document.getElementById("modal-time").innerText =
            event.start.toLocaleTimeString([],{
                hour:"2-digit",
                minute:"2-digit"
            });

        document.getElementById("modal-error").innerText =
            event.extendedProps.error || "None";

        const modal = new bootstrap.Modal(
            document.getElementById("emailModal")
        );

        modal.show();

    },
        
  });

  calendar.render();
    setInterval(() => {
      calendar.refetchEvents();
    }, 5000);
  });
</script>
    

{% endblock %}