{% extends "layout.html" %}

{% block title %}
Failed Emails
{% endblock %}

{% block content %}

      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0">Failed Emails</h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Maikbox</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Failed Emails</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="app-content">
          <div class="container-fluid">
            <div class="card">

                <div class="card-header">
                    <h3 class="card-title">
                        Failed Emails
                    </h3>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Recipient</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Error</th>
                            </tr>
                        </thead>
                        <tbody id="failed-table">
                            
                        </tbody>
                    </table>
                </div>        
            </div>
          </div>
        </div>
      </main>

{% endblock %}


{% block scripts %}

<script src="{{ url_for('static', filename='js/email_table.js') }}"></script>

<script>
    
function refreshFailed() {
    loadEmailTable(
        "http://127.0.0.1:8000/emails/failed",
        "failed-table",
        "danger",
        "Failed",
        true
    );

}
refreshFailed();
setInterval(refreshFailed,5000);

</script>

{% endblock %}